.ewaste-container {
  background: #e9ffe9;
  min-height: 100vh;
}

.main-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #114d29;
  line-height: 1.3;
}

.highlight {
  color: #0c8f4a;
}

.sub-title {
  margin-top: 25px;
  font-size: 1.5rem;
  color: #0f6d38;
  font-weight: 600;
}

.desc {
  color: #555;
  line-height: 1.7;
  font-size: 1rem;
  margin-bottom: 8px;
}

/* RIGHT SIDE BOX */
.info-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.info-box h2 {
  font-size: 1.8rem;
  color: #145c33;
  font-weight: 700;
  margin-bottom: 15px;
}

.info-box p {
  color: #444;
  line-height: 1.6;
}

.btn-area {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-green {
  padding: 12px 20px;
  background: #0cb15c;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-green:hover {
  background: #089a4f;
}

.btn-outline {
  padding: 12px 20px;
  border: 2px solid #0cb15c;
  border-radius: 10px;
  text-decoration: none;
  color: #0cb15c;
  font-weight: 600;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #0cb15c;
  color: white;
}
